<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <div class="button-row">
      <button
        mat-mini-fab
        [disabled]="!cart[product._id]"
        (click)="removeProductFromCart()"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <span>{{ cart[product._id] || 0 }}</span>
      <button mat-mini-fab (click)="addProductToCart()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
